<footer>
    <footer-content>
        <div class="columns">
            <div class="nav">
                <h4>Recipzz</h4>
                <table>
                    <tr>
                        <th>Company</th>
                        <th>Join Us</th>
                    </tr>
                    <tr>
                        <td><a href="#">Home</a></td>
                        <td><a href="/login">Login</a></td>
                    </tr>
                    <tr>
                        <td><a href="#features">Features</a></td>
                        <td><a href="/register">Get Started</a></td>
                    </tr>
                    <tr>
                        <td><a href="/about">About Us</a></td>
                    </tr>
                </table>
            </div>
            <div class="social">
                <h4>Social Media</h4>
                <div class="icons">
                    <p><i class="fa-brands fa-instagram"></i></p>
                    <p><i class="fa-brands fa-facebook"></i></p>
                    <p><i class="fa-brands fa-twitter"></i></p>
                </div>
            </div>
            <div class="quote">
                <p>“Eating is a necessity, <br> but cooking is an art”</p>
            </div>
        </div>
    </footer-content>
</footer>
</body>
</html>