<header>
    <div class="container-md">
        <nav class="navbar">
            <div class="screen-big">
                <h1>Recipzz</h1>
                <ul class="nav-menu">
                    <% if (user) { %>
                        <li class="nav-item"><a class="nav-link" href="/homeLogged">Recipes</a></li>
                        <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
                        <li class="nav-item"><p>Welcome, <%= user.username  %> </p></li>
                    <% } else { %> 
                        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="#features">Features</a></li>
                        <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
                        <li class="nav-item"><a class="nav-link big-cta" href="/register">Get Started</a></li>
                    <% } %> 
                    
                </ul>
                <div class="hamburger">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>
            </div>
        </nav>
    </div>
</header>