
<%- include('./partials/header.ejs') %> 

<%- include('./partials/nav.ejs')  %> 

<main>
    <div class="hero">
        <div class="hero-content">
            <div class="text">
                <p>Elevate Your Cooking Game With Our Recipes</p>
                <p>Got a recipe that everyone loves? Share it with us.</p>
                <div class="cta-btn">
                    <a href="/register">Get Started</a>
                </div>
            </div>
            <div class="img">
                
            </div>
        </div>
    </div>
    <div id="features" class="features">
        <div class="features-content">
            <div class="feature-titles">
                 <p>FEATURES</p>
                <h3>Experience the best of home cooking with our <span>featured recipes</span></h3>
            </div>
            <div class="cards">
                <div class="card">
                    <p><i class="fa-solid fa-plus fa-2x"></i></p>
                    <p class="title">Create</p>
                    <p class="description">Our create feature allows you to easily submit your own recipes to our website.                         </p>
                </div>
                <div class="card"> 
                    <p><i class="fa-regular fa-heart fa-2x"></i></p>
                    <p class="title">Like</p>
                    <p class="description">Our like feature lets you like recipes that you find intresting.</p>
                </div>
                <div class="card">
                    <p><i class="fa-solid fa-trash-can fa-2x"></i></p>
                    <p class="title">Delete & Update</p>
                    <p class="description">Ones you created a recipe you can still delete or just update the recipe.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="cta">
        <div class="cta-content">
           <p>READY TO GET STARTED!</p>
           <p>Your recipe could be the next big thing, share it with us today!</p>
            <div class="cta-button">
                <a href="/register">Get Started</a>
            </div>
        </div>
    </div>
</main>


<%- include('./partials/footer.ejs') %> 