.ing-list ul {
    margin-left: 17px;
}

.ing-list ul li {
    list-style-type: square;
}

.detail-container {
    max-width: 85.5%;
    margin: auto;
}

.detail {
    display: flex;
    flex-wrap: wrap;
}

.directions {
    max-width: 500px;
}

.img-section img {
    max-width: 100%;
    height: auto;
    margin-top: 40px;
    border-radius: 15px;
}

.text-section {
    margin-top: 20px;
}

.text-section p {
    margin-top: 10px;
    margin-bottom: 20px;
}

.delete-btn {
    color: white;
    background-color: red;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    cursor: pointer;
}

@media screen and (min-width:1200px) {
    .text-section {
        margin-top: 40px;
        margin-left: 50px;
    }
}