.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form {
    margin-top: 5rem;
    border-radius: 15px;
    box-shadow: 10px 10px 39px -26px rgba(0,0,0,0.75);
    padding: 50px;
}

.form h2 {
    font-size: 2.8rem;
}

form {
    margin: 20px 0px;
}

form label {
    font-size: 1.1rem;
}

.input {
    margin-top: 8px;
    padding-left: 15px;
    height: 45px;
    width: 300px;
    border-radius: 15px;
    font-size: 16px;
    
}

.password, .email {
    margin-top: 10px;
}

.login-btn {
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(214, 248, 205, .9);
    color: #14746F;
    border: none;
    cursor: pointer;
}

.error {
    color: red;
    margin-left: 5px;
}